{% extends "planty/base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <!--Filters-->
    <div class="col-sm-2 pt-4 profile-data-section">
        <div class="div-content-center">

            <form action="" method="GET" style="width:100%;">
                <!--Category-->
                <div class="filter-unit-border">
                    <div class="filter-category-title">Plant Category</div>
                    {% for category in categories %}
                    <input type="checkbox" id="category_{{category.0}}" name="category" value="{{category.0}}">
                    <label for="category"> {{category.1}}</label><br>
                    {% endfor %}
                </div>

                <!--Max Price-->
                <!--works only on webkit browsers-->
                <div class="filter-unit-border">
                    <div class="filter-category-title">Max Price:</div>
                    <input type="range" name="price_value" style="max-width: 100%;" min={{min_price}} max={{max_price}}
                        step="0.01" value={{max_price}} oninput="this.nextElementSibling.value = this.value"
                        id="price_value">

                    <output>{{max_price}}</output> €
                </div>

                <!--Search bar-->
                <div class="filter-unit-border pb-4">
                    <div class="filter-category-title">Search</div>
                    <input class="form-control me-2" type="Search" placeholder="Search" aria-label="Search"
                        name="searched" id="searched">
                </div>

                <!--Date Posted-->
                <div class="filter-unit-border">
                    <div class="filter-category-title">Date Posted</div>
                    {% for date_filter in date_filters %}
                    <input type="radio" id="date_{{date_filter.0}}" name="date" value="{{date_filter.0}}">
                    <label for="date" class="filter-choice">{{date_filter.1}}</label><br>
                    {% endfor %}
                </div>

                <!--Sort results-->
                <div class="filter-unit-border">
                    <div class="filter-category-title">Sort By</div>
                    {% for sort_option in sort_by %}

                    <input type="radio" id="sort-by_{{sort_option.0}}" name="sort" value="{{sort_option.0}}">
                    <label for="sort-by" class="filter-choice">{{sort_option.1}}</label><br>

                    {% endfor %}

                </div>
                <div class="self-center">
                    <button class="button-sumbit" type="submit">Search
                </div>
            </form>
        </div>
    </div>

    <!--Main part-->
    <div class="col-sm-10 mt-5">
        <div class="container">
            <div class="homepage-category-title">Explore</div>

            <div class="mt-4">
                {% if posts %}
                <div class="image-grid">
                    {% for post in posts %}
                    <div class="hidden-info fade-in-animation">
                        <a href="{% url 'post_detail' post.id %}">
                            <p>{{ post.title }},<br> {{ post.price }}€</p>
                        </a>
                        <img src="{{ post.plant_image.url }}" class="rounded-product-image" width="300" loading="lazy">
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p class="mt-5 no-post-title">No Posts</p>
                {% endif %}
            </div>

            <!--Paginator-->
            <div class="pagination">
                {% if posts.has_previous %}
                <a class="btn btn-outline-success mb-4" href="?page=1">&lt;&lt;</a>
                <a class="btn btn-outline-success paginator-right-margin mb-4"
                    href="?page={{ posts.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in posts.paginator.page_range %}
                {% if posts.number == num %}
                <a class="btn btn-success mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %} <a
                    class="btn btn-outline-success mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if posts.has_next %}
                    <a class="btn btn-outline-success paginator-left-margin mb-4"
                        href="?page={{ posts.next_page_number }}">Next</a>
                    <a class="btn btn-outline-success mb-4" href="?page={{ posts.paginator.num_pages }}">&gt;&gt;</a>
                    {% endif %}
            </div>

        </div>
    </div>

</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'posts/explore.js' %}"></script>
{% endblock javascript %}