{% extends "planty/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="div-content-center form-bg-color">
    <div class="update-profile-grid">
        <h1 class="grid-form-title">New Post</h1>

        <form method="POST" enctype="multipart/form-data" class="grid-form-layout">
            {% csrf_token %}
            {{form|crispy}}

            <div class="row mt-4">
                <div class="col-sm text-end">
                    <a href="{% url 'view_profile' request.user.pk %}" class="button-dismiss m-1">Dismiss</a>
                    <button class="button-sumbit" type="submit">Post</button>
                </div>
            </div>

        </form>

    </div>
</div>

{% endblock content %}