{% extends "planty/base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-2 pt-5 profile-data-section">
        {% include 'users/user_base_template.html' %}
    </div>

    <div class="col-sm-9 mt-5">

        <div class="container">
            <!--Title-->
            {% if user_profile_owner == request.user %}
            <div class="homepage-category-title">My Profile</div>
            {% else %}
            <div class="homepage-category-title">{{user_profile_owner.username}}'s Ads</div>
            {% endif %}

            <!--All posts & paginator-->
            {% include 'posts/display_all_posts.html' %}

        </div>
    </div>

    {% endblock content %}