/* Fonts
Header,weights: 400, 500
    font-family: 'Quicksand', sans-serif;  
Body,weights: 300, 400 italic
    font-family: 'Source Sans Pro', sans-serif; 
*/

:root {
    --plant-green: rgba(46, 139, 87, 1);
    --green-navbar: rgba(169, 199, 172, 1);
    --darker-green: rgb(49, 107, 74);
    --gray-text: rgba(53, 75, 62, 1);
    --dark-green-text: rgba(36, 61, 37, 1);
    --lighter-green-text: rgba(95, 116, 100, 1);
    --light-green: rgba(191, 216, 196, 0.5);
    --green-homepage-div: rgba(191, 216, 196, 0.4);
    --danger-red: rgb(255, 71, 71);
    --light-pink: rgb(238, 221, 216, 0.5);
    --read-message: rgba(58, 58, 58, 1);
    --message-text: rgba(65, 64, 64, 1);
}

/*Often used styles*/
.zero-margin-padding {
    margin: 0%;
    padding: 0%;
}

.text-center {
    text-align: center;
}

.green-link {
    text-decoration: none;
    color: var(--plant-green);
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 1.1rem;
}

.green-link:hover {
    color: var(--plant-green);
    opacity: 0.8;
}

.make_nonlink {
    text-decoration: none;
}


/*Body*/
body {
    min-height: 100vh;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

/*Footer*/
footer {
    background-color: var(--green-navbar);
    height: 2.5rem;
    width: 100%;
    margin-top: auto;
}

.footer-text-center {
    text-align: center;
    padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
}

/*Navbar*/
nav {
    background-color: var(--green-navbar);
}

.nav-icon {
    font-size: 1.5rem;
    padding-right: 0.2rem;
    color: var(--dark-green-text);
}

.btn-navbar {
    background-color: transparent;
    border-radius: 0px;
    border-color: transparent;
    height: 100%;
}

/*Forms*/

.form-title {
    font-family: 'Quicksand', sans-serif;
    color: var(--plant-green);
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}

label {
    color: #494949;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.requiredField {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 1rem;
    font-weight: 300;
}

.div-content-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.form-bg-color {
    background-color: rgba(166, 204, 170, 0.1);
}

.div-form-green-border {
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: var(--green-navbar);
    border-radius: 1rem;
    margin: 5rem 0;
}

.add-form-padding {
    padding: 3rem;
}

.button-form {
    border-color: var(--plant-green);
    border-radius: 10px;
    color: var(--plant-green);
    background-color: transparent;
    border: 2px solid;
    padding: 0.5rem 30%;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 1rem 0rem;
}

.button-form:hover,
.button-sumbit:hover {
    color: #FFFFFF;
    background-color: var(--plant-green);
}

.button-sumbit {
    border-color: var(--plant-green);
    border-radius: 10px;
    color: var(--plant-green);
    background-color: transparent;
    border: 2px solid;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem 0rem;
}

.button-dismiss {
    border-color: var(--danger-red);
    border-radius: 10px;
    color: var(--danger-red);
    background-color: transparent;
    border: 2px solid;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem 0rem;
}

.button-dismiss:hover {
    color: #FFFFFF;
    background-color: var(--danger-red);
}

.image-in-form {
    border-radius: 1rem;
}

/* Texts */

.medium-italic-green-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--gray-text);
    font-weight: 300;
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    padding: 0rem 4rem;
}

/*Base user template*/

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

a>.profile-pic {
    color: var(--green-navbar);
}

.profile_username {
    font-size: 1.9rem;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--gray-text);
    text-align: left;
    padding-left: 1rem;
}

.profile_username:hover {
    opacity: 0.8;
}

.profile-pic {
    border-radius: 50%;
    border: 0.5rem solid;
    max-width: 100%;
}

.same-line-max-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-settings {
    border: 2px solid;
    border-color: var(--gray-text);
    border-radius: 10px;
    padding: 3px 10px;
    margin: 1%;
    background-color: transparent;
    color: var(--gray-text);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
}

.button-settings:hover {
    border-color: var(--plant-green);
    color: var(--plant-green);
}

.user-information {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    padding-left: 1.2rem;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    color: darkslategray;
}


.orange-star {
    color: rgb(255, 166, 0);
    margin-right: 3px;
}

.write-new-review-text {
    color: #494949;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding-left: 1rem;
    font-weight: 300;
}

.user-rating-avg {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    padding-left: 1.2rem;
    font-size: 1.3rem;
    font-weight: 300;
    font-style: italic;
    color: darkslategray;
}

.user-rating-avg:hover {
    color: darkslategray;
    opacity: 0.8;
}

.write-new-review-text:hover {
    opacity: 0.8;
}

/*Profile*/

.profile-data-section {
    border: 1px dotted;
    border-color: var(--plant-green);
    background-color: var(--light-green);
    border-radius: 5px;
    min-height: 100vH;
}

/*Update profile*/

.update-profile-grid {
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: var(--green-navbar);
    border-radius: 1rem;
    margin: 5rem 0rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 10fr;
    grid-template-areas:
        ". title ."
        ". form ."
}

.grid-form-title {
    font-family: 'Quicksand', sans-serif;
    color: var(--plant-green);
    font-weight: 500;
    font-size: 3rem;
    grid-area: title;
    text-align: center;
    margin-top: 2rem;
}

.grid-form-layout {
    grid-area: form;
}

/* Detail page */

.post-detail-data-section {
    border: 2px solid;
    border-color: var(--plant-green);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--plant-green);
    font-weight: 500;
}

.post-author-username {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    font-style: italic;
}

.post-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    font-weight: 300;
}

.post-price {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1rem;
    color: var(--plant-green);
}

/* Explore Sidebar */
.filter-unit-border {
    border-bottom: 1px solid;
    border-color: #FFFFFF;
    border-radius: 5px;
    padding: 1.5rem;
}

.filter-category-title {
    font-family: 'Quicksand', sans-serif;
    color: var(--plant-green);
    font-weight: 500;
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
    text-align: start;
}

.self-center {
    align-self: center;
    text-align: center;
}

/*Explore Main*/

.hidden-info {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: var(--light-green);
    margin: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.hidden-info>a {
    align-self: center;
    color: var(--plant-green);
    font-family: ' Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    display: none;
}

.hidden-info:hover>a {
    display: flex;
    transition: ease-in;
}

.hidden-info:hover>img {
    display: none;
}

.fade-in-animation:hover {
    opacity: 1;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.rounded-product-image {
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--green-navbar);
}

.no-post-title {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    text-align: center;
}


/* Pagination */

.pagination {
    margin-top: 2rem;
    justify-content: center;
}

.paginator-left-margin {
    margin-left: 0.5rem;
}

.paginator-right-margin {
    margin-right: 0.5rem;
}

/* Reviews */

.single-review-flex-box {
    width: 80%;
    align-self: center;
}

.new-review-title {
    font-family: 'Quicksand', sans-serif;
    color: var(--dark-green-text);
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--light-green);
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    border-color: var(--green-navbar);
    margin-right: 2rem;

}

.new-review-field {
    border: 2px solid;
    border-color: var(--green-navbar);
    border-radius: 1px;
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.single-review-head {
    background-color: var(--light-green);
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
    border: 1px solid;
    border-radius: 2px;
    border-color: var(--green-navbar);
}


.single-review-body {
    padding: 1rem;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 2px;
    border-color: var(--green-navbar);
}

.flex-div {
    display: flex;
}

.review-head-username {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--darker-green);
    margin-right: 1rem;
    margin-bottom: 0;
    align-self: center;
}

.review-head-date {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--dark-green-font);
    margin-right: 1rem;
    margin-bottom: 0;
    align-self: center;
}

.review-head-stars {
    align-self: center;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.comment-pic {
    width: 120px;
    border-radius: 50%;
    border: 0.5rem solid;
}

.comment-pic:hover {
    opacity: 0.8;
}

a>.comment-pic {
    color: var(--green-navbar);
}

.review-body-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    align-self: center;
}


/* Homepage */

.homepage-category-title {
    font-family: 'Quicksand', sans-serif;
    color: var(--plant-green);
    font-weight: 400;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}

.explore-title {
    font-family: 'Quicksand', sans-serif;
    color: var(--dark-green-text);
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
    padding: 3rem 0rem;
}

.homepage-category-description {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--plant-green);
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    padding: 0rem 4rem;
}

.center-text-relative-to-image {
    position: absolute;
    top: 20%;
    align-items: center;
}

.brand-title {
    font-family: 'Quicksand', sans-serif;
    color: var(--darker-green);
    font-weight: 500;
    font-size: 5rem;
}

.slightly-rounded-image {
    border-radius: 4px;
}

.standard-div-top-margin {
    margin-top: 2rem;
}

.button-big {
    border-color: var(--plant-green);
    border-radius: 10px;
    color: var(--plant-green);
    background-color: transparent;
    border: 2px solid;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 1rem 0rem;
}

.button-big:hover {
    color: #FFFFFF;
    background-color: var(--plant-green);
}

.explore-button-big {
    border-color: var(--darker-green);
    border-radius: 10px;
    color: #FFFFFF;
    background-color: var(--darker-green);
    border: 2px solid;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.explore-button-big:hover {
    color: var(--darker-green);
    background-color: transparent;
}

.self-left {
    align-self: flex-end;
}

.self-right {
    align-self: flex-start;
}

.flex-container-buttons-homepage {
    display: flex;
    justify-content: center;
}

.login-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: var(--plant-green);
    font-size: 1.2rem;
}

.login-link:hover {
    color: var(--plant-green);
    opacity: 0.7;
}

.explore-button-big {
    border-color: var(--darker-green);
    border-radius: 10px;
    color: #FFFFFF;
    background-color: var(--darker-green);
    border: 2px solid;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.explore-button-big:hover {
    color: var(--darker-green);
    background-color: transparent;
}

/* Chat */

.chats-header-bg {
    background-color: var(--light-green);
    padding: 0.8rem 0.8rem 0.8rem 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 10px;
}

.chat-users-image {
    border-radius: 50%;
    width: 4rem;
    border: 2px solid;
    border-color: var(--green-navbar);
}

.all-chats-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #000000;
    justify-self: center;
    align-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image username username"
        "image message message";
}

.grid-item-image {
    grid-area: image;
    align-self: center;
    justify-self: center
}

.grid-item-username {
    grid-area: username;
    align-self: center;
}

.grid-item-text {
    grid-area: message;
}

.username-read {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--read-message);
}

.text-read {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--read-message);
}

.username-unread {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: #000000;
}

.text-unread {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;
    color: #000000;
}

.one-chat-box {
    background-color: #ffffff;
    border-bottom: 1px solid var(--light-green);
    padding: 0.8rem;
}

.one-chat-box-unread {
    background-color: var(--light-green);
    border-bottom: 1px solid var(--light-green);
    padding: 0.8rem;
    border-radius: 5px;
}

.one-chat-box-unread:hover {
    background-color: #FFFFFF;
}

.one-chat-box:hover {
    background-color: var(--light-green);
}

.chat-container {
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--light-green);
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.single-message-header {
    background-color: var(--light-green);
    height: 4rem;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    color: var(--read-message);
    margin-top: 1rem;
}

.single-chat-main-container {
    background-color: #ffffff;
    display: grid;
    margin-top: 1rem;
    padding: 1rem;
}

.single-reply-main-user-username {
    justify-self: self-end;
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    color: rgb(65, 64, 64);
    font-style: italic;
}

.single-reply-other-user-username {
    justify-self: self-start;
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    color: var(--message-text);
    font-style: italic;
}

.single-reply-main-user {
    border-radius: 15px;
    background-color: var(--light-green);
    padding: 15px;
    color: var(--message-text);
    margin-bottom: 0.5rem;
    max-width: 50%;
    justify-self: self-end;
}

.single-reply-other-user {
    border-radius: 15px;
    background-color: var(--light-pink);
    padding: 15px;
    color: var(--message-text);
    margin-bottom: 0.5rem;
    max-width: 50%;
    justify-self: self-start;
}

.message-reply-field {
    margin-top: 2rem;
}

.message-input {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.message-input label {
    display: none;
}

.message-input input {
    width: 94%;
    border-radius: 5px;
    border: 1px solid;
    border-color: #c9c9c9;
    height: 3rem;
}